
body {
	background: black;
	}
	
		
			#zona{
				position: relative;
		float: left;
		left: 620px;
		top:-360px;
		border-radius: 100px;
				}
				img:hover{
		transform: scale(1.2);
	}

video{
				position: relative;
		
		top:-70px;
		max-width:620PX;
		 max-height:540PX;
		
				}
	iframe		
{
	 width: 330px;
	height: 160px;
	position: relative;
	float: left;
	top:-150px;
	left: 330px;
	
	

	}
