
body {
	background: black;
	}
	
		
		
video{
				position: relative;
		
		top:-70px;
		max-width:420PX;
		 max-height:540PX;
		
				}
	iframe		
{
	 max-width: 330px;
	max-height: 160px;
	

	}
	.frame{
display: flex;
			justify-content: center;

	}
	img{
		max-height: 350px;
		max-width: 160px;
	}
	

